.codeblock { 
        font-family: 'Lucida Console', Courier, monospace;
        font-size: 4em;
        text-align: center;
}

h1 {  
     font-family: arial, serif
     font-size: 14pt;
     text-align: center;
}

h2 { 
     font-family: arial, serif
     font-size: 12pt;
     text-align: center;

}
